include/
comp/
cmake-build-debug/
lib/
**/*.exe
**/*.dll

*_old/

#TextEditor.*

# CMakeLists doesnt work, may fix it later
CMakeLists.txt

# glad.c, you should get this from https://glad.dav1d.de/
src/glad.c
